*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.updateStatus{
    display: none;
}

.aside-logo-img{
    /* object-fit: contain; */
    /* height: 40px; */
    /* width: 100px;     */
    /* border-radius: 50%; */
}
