*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.updateStatus{
    display: none;
}

.aside-logo-img{
     width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}